:root{
    --color:#0f0;
    --bg:#121212;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: var(--bg);
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:100vw;
    height:100vh;
    background-color: transparent;
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow:hidden
}

.squareCSS {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    height: 50px;
    width: 50px;
    transition: 3s ease;
  }
  
  .squareCSS:hover {
    transition-duration: 0s;
  }

  #bgslide{
    position: absolute;
    width:100vw;
    height:100vh;
    background: linear-gradient(#000,#0f0,#000);
    z-index:-1;
    animation:slide 3s linear infinite;
  }
  @keyframes slide {
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY(100%);
    }
  }